body {
  font-family: system-ui, sans-serif;
  background: #f6dae6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}
